body{
	background: url(background.jpg);
	background-attachment:fixed;
}
.parent {
padding: 200px 400px;

	}


.header-test { font-family: 'Abel', serif;
  font-weight: 200;
  color: white;
  text-decoration: none;
  position: fixed;
}
h1 { font-family: 'Abel', serif; font-weight: 200; color: white;}
h2 { font-family: 'Abel', serif; font-weight: 200; color: white;}

h3 { font-family: 'Ruslan Display', serif; font-weight: 400;color: white }
#polar { font-family: 'Abel', serif; font-weight: 600;color: white }
#pool { font-family: 'Bad Script', serif; font-weight: 400;color: white }
.jum-text {font-family:'Open Sans Condensed', serif; }

.wrapper{
    position: fixed;
    bottom: 10px;
    width: 100%;
    left:0;
}
