body{
    /*background-color: #ffffff;*/
	background: url(background.jpg);
	/*color: white;*/
	background-attachment:fixed;
}
#parent {
padding: 200px;
	}
.header { font-family: 'Abel', serif; font-weight: 200; color: white; text-decoration: none}

h3 { font-family: 'Ruslan Display', serif; font-weight: 400;color: white }
#polar { font-family: 'Abel', serif; font-weight: 600;color: white }
#pool { font-family: 'Bad Script', serif; font-weight: 400;color: white }

.ghost-button {
	background-color: transparent;
  display: inline-block;
    align-self: center;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #4cae4c;
  color: white;
	/*color: steelblue;*/
}


.ghost-input {
	background-color: transparent;
  display: inline-block;
  /*width: 200px;*/
  padding: 8px;
    width: 500px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
	font-family: 'Abel';
    align-self: center;
}

.ghost-menu {
	background-color: transparent;
  display: inline-block;
  width: 100px;
  padding: 6px;
    /*margin-bottom: 20px;*/
    /*margin-right: 10px;*/
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  min-height:100%;
  position:relative
}
.ghost-menu:hover,
.ghost-menu:active {
    background-color: #cccccc;
    color: white;
}

/*.content{*/
    /*padding: 0 0 50px 0;*/
/*}*/
.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;

}
