{% extends 'base.html' %}
{% block body %}

<div class="container" style="padding-top: 20px; color: white">

<div class="jumbotron" style="background:rgba(0, 0, 0, 0.13) !important">

<p>Данное приложение – <strong>попытка</strong> анализа высказываний в русскоязычном твиттере.</p>
<p>Главной целью является попытка получения информации о мнениях о политиках или же определенных известных личностях.</p>
<p>Данное приложение должно представлять собой WEB-приложение на Django для адекватной оценки и аналитики мнений.</p>
<p>На сегодня в репозитории содержится:</p>
<ul>
<li>Обучающий алгоритм (сделан с использованием библиотеки sklearn)</li>
<li>скрипт получения информации из твиттера</li>
<li>выборка обученных твитов</li>
<li>каркас Django-application</li>
</ul>
<p>Результаты всех тестов на данный момент довольно в основном "нейтральные",
    обучающая выборка tweets.json из просторов интернета, (и судя по результатам обучена не на “политических твитах”).</p>
<p>Также не реализована "очистка" выборки от спама и множества одинаковых ретвитов</p>

</div>
</div>


{% endblock %}