<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<link rel="stylesheet" href="/static/css/bootstrap.css" >
<link rel="stylesheet" href="/static/css/base.css">
<link href='https://fonts.googleapis.com/css?family=Dosis|Abel|News+Cycle|\
Bad+Script|Ruslan+Display|Open+Sans+Condensed|&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>{% block title %} {% endblock %}</title>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/">RTSA</a>
      <a  class="btn btn-simple-outline" href="{% url 'about' %}">About</a>
      <!-- <a  class="btn btn-simple-outline" href="{% url 'contact' %}">Contact Us</a> -->
    </nav>
</head>

<body>
    <div class="container">
        {% block body %} {% endblock %}
    </div>


<!-- <footer>
    <div class="wrapper">
        <div class="container-fluid">
            <a  class="btn btn-success-outline" href="{% url 'about' %}">About</a>
       </div>
    </div>
</footer> -->


<!-- Place this tag right after the last button or just before your close body tag. -->
</body>
</html>
