<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/css/bootstrap.css" >
<link rel="stylesheet" href="/static/css/base.css" >
<link href='https://fonts.googleapis.com/css?family=Dosis|Abel|News+Cycle|\
Bad+Script|Ruslan+Display|Open+Sans+Condensed|&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <title>{% block title %} {% endblock %}</title>
    {% block head %} {% endblock %}

</head>
<body>

{#<nav class="navbar" role="navigation">#}

{#<div class="header-bar">#}
   <h1><a href="{% url 'index'%}" class="header">Twitter Sentiment Analyzer</a></h1>
{#</div>#}

{#</nav>#}
<div class="content" >
{% block body %} {% endblock %}
</div>


{#<div class="content" align="center">#}
{#</div>#}
<div class="footer" align="center">

   <a  class="ghost-menu" href="{% url 'about' %}">About</a>

</div>



</body>
</html>